// dimensions
header-height = 32px
library-pane-width = 240px

// colors (general)
body-bg-color = #131313
text-color = #eee
link-color = #07adbb
link-hover-color = #3addee

// colors (header)
header-bg-color = #313131
header-color = #37505A

// colors (panes)
background-color = #1c1c1c

// animations
default-animation-speed = .3s
